* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202867;
}

.p-2 {
    padding: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

h1,
h2 {
    color: #FABA00;
}

.text-center {
    text-align: center;
}

section {
    margin-top: 3rem;
}

label {
    color: #FABA00;
    font-weight: bold;
}

input,
select {
    border-color: #202867;
}

button {
    margin: 1rem;
    padding: .2rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 10px;
}

.row {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.col.main-col {
    flex-basis: 18rem;
    background-color: #888;
}

.col span {
    padding-top: 2rem;
}

.personal-ticket .row {
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    min-height: 6rem;
}

footer {
    height: 80px;
    line-height: 80px;
    color: #FFF;
    background-color: #29ABE2;
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

footer a {
    color: inherit;
}